RewriteEngine On
DirectoryIndex index.php
<ifModule mod_rewrite.c>
    #RewriteBase /
    # RewriteCond %{REQUEST_FILENAME} !-f
    # RewriteCond %{REQUEST_FILENAME} !-d 
    # RewriteRule ^index/(.)/(.)/(.)$ calculadora.php?op=$1&a=$2&b=$3&rule=1 [NC,L] 

    # RewriteCond %{REQUEST_FILENAME} !-f 
    # RewriteCond %{REQUEST_FILENAME} !-d 
    # RewriteRule ^index(.) index.php?op=$1&rule=1 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d 
    RewriteRule ^(.*)$ index.php [NC,L]
</ifModule>