RewriteEngine On
DirectoryIndex index.php


<IfModule mod_rewrite.c>

    RewriteCond %{REQUEST_FILENAME} !-f
  # RewriteCond %{REQUEST_FILENAME} !-d  
  RewriteRule ^/?(css|fonts|js|images)/(.+)\.(json|css|png|jpg|jpeg|svg|ico|js|txt|ttf|ttf2|woff|woff2|eot)$  assets/$1/$2.$3 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*) index.php [NC,L]

</IfModule>