*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}
body{

    background-color: rgb(131, 120, 145);

}
.divp{
    
    width: 700px;
    padding: 20px auto;
}
li{
font-weight: 800;}

.container{

    display: flex;

}